extends ../layouts/default

block content
	.container: .jumbotron
		h1 <img src='/images/logo.png' width='160'> Välkommen till SFCS
		p 
			<b>Studentföreningen Campus Skellefteå</b> är en ideell förening som arbetar för att utbildningarna på 
			| Campus Skellefteå håller god standard och att studerande får en god studiesocial miljö.
		hr
		p Håll dig uppdaterad via <a href='https://www.facebook.com/StudentforeningenCampusSkelleftea/' target='_blank'>Studentföreningens Facebook sida</a>
